.header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 15px;
}



.header h1 {

  font-size: 30px;

}

.filter {
  display: flex;
  gap: 10px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;    
    padding: 5px;

  }


@media (max-width: 472px) {
 .grid {
  max-width: 100%;
 }

 .header {
  gap: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;

 }


 .filter {
  width: 100%;
  display: flex;
  justify-content: center;
 }
  
  
}
  