

.card {
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: #1F2535;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(245, 245, 245, 0.170);
    padding: 10px;

  
}

.card_content {
    display: flex;
    background-color: #1F2535;
    color: whitesmoke;
    gap: 10px;
}




.icon {
    background-color: blue;
}

.head {
    display: flex;
    flex-direction: column;
}

.head p {
    color: gray;
    font-size: 14px;
}




.control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 10px;
}

.control .remove {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(245, 245, 245, 0.171);
    color: white;
    border-radius: 15px;
    padding: 8px;

}
